<!DOCTYPE html>
<html>
  <head>
    <title>Jaka to rocznica</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
      body {
        font-family: Helvetica, Arial, sans-serif;
        text-align: center;
        color: #333;
        background: url(http://images.fanpop.com/images/image_uploads/Flower-Wallpaper-flowers-249398_1693_1413.jpg);
      }

      h1 {
        font-weight: bold;
        font-size: 220px;
        margin: 120px 0 0;
        line-height: 200px;
      }

      h2 {
        font-size: 40px;
        margin: 0 0 80px;
      }

      p {
        font-size: 30px;
        margin: 0;
      }

      strong {
        color: #38a;
      }
    </style>
  </head>
  <body>
    <div>
      <% if(@current_anniversary) %>
        <h1><%= @anniversary_number %>.</h1>
        <h2><%= @current_anniversary.date %> <%= @current_anniversary.name %></h2>
      <% else %>
        <h2>Nie znaleźliśmy dziś żadnej rocznicy :(</h2>
        <img src="http://tehgeek.com/storage/post-images/sad-panda.jpg" />
      <% end %>

      <p>przegapiłaś <strong>666. rocznicę</strong> nadania praw miejskich Bydgoszczy</p>
      <p>pamiętaj o <strong>667. rocznicy</strong> nadania praw miejskich Bydgoszczy</p>
    </div>
  </body>
</html>
